@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-Outfit: "Outfit", sans-serif;
    --font-Libre: "Libre Baskerville", serif;
    --font-dancing: "Dancing Script", cursive;
    --color-primaryy: #fca311;
    --color-secondaryy: #dad7cd;
    --color-color3: #e5e5e5;
    --color-color4: #14213d;
    --color-color5: #0d1b2a;


}