@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-Outfit: "Outfit", sans-serif;
    --font-Libre: "Libre Baskerville", serif;
    --color-primaryy: #fca311;
    --color-secondaryy: #dad7cd;
    --color-color3: #e5e5e5;
}

